h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.title-display {
    font-family: 'Roboto Slab', serif;
    font-size: clamp(2rem, 10vw, 6rem);
    font-weight: 800;
}

h1,
.title-1 {
    font-family: 'Roboto Slab', serif;
    font-size: clamp(2rem, 8vw, 4rem);
    font-weight: 800;
}

h2,
.title-2 {
    font-family: 'Roboto Slab', serif;
    font-size: clamp(1.5rem, 6vw, 3rem);
    font-weight: 800;
}

h3,
.title-3 {
    font-family: 'Roboto Slab', serif;
    font-size: clamp(1.25rem, 4vw, 2rem);
    font-weight: 800;
}

.large {
    font-size: 1.2em;
}

ul.flex-list,
ol.flex-list {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;

    padding-inline: 0;

    li {
        list-style: none;
    }
}
